*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
}
.max-container{
	max-width: 1120px;
	margin: 0 auto;
}
.bg-image{
	background-image: url(../images/image1.jpg);
	background-size: 100%;
	height: 100vh;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-attachment: fixed;
	position: relative;
}
.header-text span{
	color: #fff;
	background-color: #000;
	padding: 20px;
	font-size: 27px;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    letter-spacing: 10px;
    opacity: 0.9;
}
.about-sec{
	background-color: #f4f4f4;
	width: 100%;
	height: auto;
	color: #666;
	padding: 40px 0;
}
.about-text-wrapper{
	text-align: center;
}
.about-text-wrapper h2{
	margin: 15px 0;
}
.about-text-wrapper p{
	font-weight: 600;
	word-spacing: 2px;
	line-height: 30px;
	letter-spacing: 0.4px;
}
.second-image{
	background-image: url(../images/pic2.jpg);
	height: 50vh;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-attachment: fixed;
	position: relative;
}
.second-img-text{
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
.second-img-text h2{
	letter-spacing: 5px;
	font-size: 27px;
}
.about-sec2{
	background-color: #282E34;
	width: 100%;
	height: auto;
	padding: 40px 0;
	color: #fff;
}
.third-image{
	background-image: url(../images/image3.jpg);
	height: 50vh;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-attachment: fixed;
	position: relative;
}
.third-img-text{
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
.third-img-text h2{
	letter-spacing: 5px;
	font-size: 27px;
	color: #fff;
}
.footer-line{
	background-color: #fff;
	color: #000;
	padding: 10px 0;
	text-align: center;
}
a{
	text-decoration: none;
	color: orange;
}
a:hover{
	color: red;
	font-weight: bold;
}

.footer-line h5{
	font-weight: bold;
}

